# OpenRouter (LLM)
OPEN_ROUTER_API_KEY=sk-or-...

# LangSmith (Logs)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=ls__...
LANGCHAIN_PROJECT=autonode
# LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
# ^ ^ ^ Self-hosted endpoint
