# Cache
__pycache__/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# App
.vscode/
.cursor/
_meta/
config/
autodone.db
autonode.db-shm
autonode.db-wal

# App Runtime
.venv/
playground/
.aider*

# Security
.env